* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

/* shared styles */
.common-title {
    font-size: 2.25rem;
    font-weight: 800;
}

.common-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
}

#btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    padding: 11px 0px;
    width: 150px;
    margin: 40px auto;
    padding-left: 5px;
    border-radius: 10px;
    border: none;
}

/* header section styles */
.header {
    max-width: 1170px;
    margin: 50px auto;
}

.header img {
    width: 100%;
    margin-top: 30px;
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav>ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
}

.banner-information {
    text-align: center;
    max-width: 700px;
    position: absolute;
    top: 250px;
    left: 280px;

    color: #fff;
}

.description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

.banner-img img {
    position: relative;
}

.input-tags {
    display: flex;
    align-items: center;
    gap: 15px;
}

.banner-information .input {
    padding: 10px 0px;
    width: 150px;
    margin: 40px auto;
    padding-left: 5px;
    border-radius: 10px;
    border: none;
}

.banner-information h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 50px;
}

/* stared the main section styles */

/* main section-1 */
.main-section {
    display: flex;
    max-width: 1170px;
    margin: 50px auto;
    justify-content: space-between;
}

.popular-tours-container p {
    margin-top: 30px;
}

.popular-tours-container>ul {
    margin-top: 50px;
}

.popular-tours-container li {
    margin-top: 30px;
    margin-left: 20px;
}

.popular-tours-img img {
    width: 100%;
}

.popular-tours-container {
    max-width: 50%;
}

/* this is the main-section-2 */

.main-section-2 {
    max-width: 1170px;
    margin: 0 auto;
}

.main-section-2-details p {
    font-size: 1rem;
    font-weight: 400;
    max-width: 643px;
    margin: 40px auto;
}

.main-section-2-img-container .crazy-img {
    padding-left: 15px;
    padding-top: 15px;
}

.main-section-2-img-container #very-crazy {
    padding-left: 19px;
}

/* started the main section-3 */

.main-section-3 {
    max-width: 1170px;
    margin: 50px auto;
}

.causes-title {
    max-width: 643px;
    text-align: center;
    margin:50px auto;
}
.causes-title p{
    padding-top: 20px;
}

.causes-for-choose {
    max-width: 573px;
    padding: 25px;
    border-radius: 1rem;
    background: ;
}

.causes-container h3 {
    padding: 30px 0px;
}

.causes-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 24px;
}

#choose-one {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#choose-two {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#choose-three {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
/* end the main section-3 */


/* started the main section-4 */




/* end the main section-4 */




/* responsive for mobile device */
/* @media screen and (max-width:600px) {
    .header{
        display: grid;
        flex-direction: column;
        max-width: 600px;
        margin: 50px auto;
    }
    
} */