* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

/* shared styles */
.common-title {
    font-size: 2.25rem;
    font-weight: 800;
}

.common-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
}

#btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    padding: 11px 0px;
    width: 150px;
    margin: 40px auto;
    padding-left: 5px;
    border-radius: 10px;
    border: none;
}

/* header section styles */
.header {
    max-width: 1170px;
    margin: 50px auto;
}

.header img {
    width: 100%;
    margin-top: 30px;
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav>ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
}

.banner-information {
    text-align: center;
    max-width: 700px;
    position: absolute;
    top: 250px;
    left: 280px;

    color: #fff;
}

.description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

.banner-img img {
    position: relative;
}

.input-tags {
    display: flex;
    align-items: center;
    gap: 15px;
}

.banner-information .input {
    padding: 10px 0px;
    width: 150px;
    margin: 40px auto;
    padding-left: 5px;
    border-radius: 10px;
    border: none;
}

.banner-information h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 50px;
}

/* stared the main section styles */

/* main section-1 */
.main-section {
    display: flex;
    max-width: 1170px;
    margin: 50px auto;
    justify-content: space-between;
}

.popular-tours-container p {
    margin-top: 30px;
}

.popular-tours-container>ul {
    margin-top: 50px;
}

.popular-tours-container li {
    margin-top: 30px;
    margin-left: 20px;
}

.popular-tours-img img {
    width: 100%;
}

.popular-tours-container {
    max-width: 50%;
}

/* this is the main-section-2 */

.main-section-2 {
    max-width: 1170px;
    margin: 0 auto;
}

.main-section-2-details p {
    font-size: 1rem;
    font-weight: 400;
    max-width: 643px;
    margin: 40px auto;
}

.main-section-2-img-container .crazy-img {
    display: flex;
    justify-content: center;
    /* padding-left: 15px;
    padding-top: 15px; */
}

.main-section-2-img-container {

    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    margin: 0 auto;
}

.crazy-img {
    position: relative;
}

.crazy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.main-section-2-img-container #very-crazy {
    padding-left: 2.5px;
}

/* started the main section-3 */

.main-section-3 {
    max-width: 1170px;
    margin: 50px auto;
}

.causes-title {
    max-width: 643px;
    text-align: center;
    margin: 50px auto;
}

.causes-title p {
    padding-top: 20px;
}

.causes-for-choose {
    max-width: 573px;
    padding: 25px;
    border-radius: 1rem;
    background: ;
}

.causes-container h3 {
    padding: 30px 0px;
}

.causes-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 24px;
}

#choose-one {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#choose-two {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#choose-three {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* end the main section-3 */


/* started the main section-4 */
.main-section-4 {
    max-width: 1170px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.main-section-4-details h3 {
    padding-bottom: 30px;
    max-width: 400px;
}

.main-section-4-details>ul {
    padding-left: 20px;
    padding-top: 30px;
}

.main-section-4-details #li-id {
    padding-top: 30px;
}


.main-section-4-img {
    position: relative;
}

.video-icon {
    top: 350px;
    position: absolute;
    background-color: black;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
    display: flex;
    align-items: center;
    padding-left: 3px;
}

.video-icon-2 {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    position: absolute;
    bottom: 50px;
    left: 25px;
    width: 560px;
    display: flex;
    align-items: center;
}

.video-icon .same1 {
    padding-left: 20px;
}

.video-icon .same2 {
    padding-left: 20px;
}

.video-icon .same3 {
    padding-left: 380px;
}

.video-icon .same4 {
    padding-left: 20px;
}

.video-icon .same5 {
    padding-left: 20px;
}

/* end the main section-4 */

/* started the main section-5 */
.main-section-5 {
    max-width: 1170px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.newsletter {
    border: #FF5400 1px solid;
    max-width: 450px;
    padding:30px;
    height: 424px;
    border-radius: 1rem;

}

.newsletter h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 20px;
}


.input-for-comment {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.05);
    width: 380px;
    padding: 15px;
    border: none;
    margin-top: 40px;

}
.Subscribe{
    width: 380px;
    padding: 15px;
    border-radius: 8px;
    margin-top: 40px;
    background-color: #FF5400;
    color: #FFF;
    border: none;
}


/* end the main section-5 */


/* responsive for mobile device */
/* @media screen and (max-width:600px) {
    .header{
        display: grid;
        flex-direction: column;
        max-width: 600px;
        margin: 50px auto;
    }
    
} */